.logo {
    width: 200px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 24px 16px 0;
    float: left;
    font-family: 'FuturaLTCondensedBoldOblique';
    font-size: 22px;
    line-height: 30px;
  }
  